@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* background-image: linear-gradient(to right, #8CCBFD,  #A3A0FC, #EFB2FA); */
  color: white;
  background-color: #161618;
}

/* Style for the scrollbar */
.customScroll {
    padding-right: 10px;
    scrollbar-width: thin; /* For Firefox */
    scrollbar-color: rgba(155, 155, 155, 0.7) rgba(0, 0, 0, 0.5); /* Also for Firefox */
}
  
  /* Styles for Webkit browsers like Chrome, Safari, and Opera */
  .customScroll::-webkit-scrollbar {
    width: 10px; /* width of the entire scrollbar */
  }
  
  .customScroll::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background: #AAAAAA;
  }
  
  /* Optional: Style for the scrollbar buttons (up and down arrows) */
  .customScroll::-webkit-scrollbar-button {
    background: transparent;
    height: 5px;
  }